@import '../../styles/utils/variables';

.forecast {
  width: 100%;
  max-width: 500px;
  height: 120px;
  margin-bottom: 5vh;

  border-radius: $defoultBorderRadius;
  backdrop-filter: $defaultBackdropFilter;

  padding: 15px;

  transition: all $defoultTransitionDuration;

  &--active {
    height: 230px;
  }

  &__days {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  &__detail-close {
    position: absolute;
    right: 3px;
    bottom: 3px;
  }

}