@import '../styles/utils/variables';

.button {
  height: 20px;

  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #DFBCB2;
  font-size: 8px;
  font-weight: 500;
  line-height: 12px;
  text-transform: uppercase;

  // border: 1px solid #9d9c9a;
  border-radius: 6px;

  transition: all $defoultTransitionDuration;

  &:hover {
    background-color: #AA9084;
    border-color: #483E46;
  }

  &--active {
    background-color: #7CB488;
    border-color: #483E46;
    pointer-events: none;


    &:hover {
      background-color: #7CB488;
      border-color: #483E46;
    }
  }
}