@mixin height {
  height: var(--vh);
};

@mixin uppercaseBig {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 200;
};

@mixin uppercaseSmall {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 10px;
  font-weight: 200;
};

@mixin uppercaseBoldSmall {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
};

@mixin normalSmall {
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
}




