@import '../../styles/utils/variables';

.day {
  padding: 5px;

  border-right: 1px solid #fff;

  &:last-child {
    border-right: none;
  }

  border-bottom: 1px solid #fff;

  &--active {
    border-bottom: none;
  }

  // background-color: $defoultBackgroundColor;
  // border-radius: $defoultBorderRadius;

  &__name {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 12px;
    font-weight: 200;
  }

  &__date {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
  }

  &__temp {
    display: flex;
    justify-content: space-between;
  }

  &__temp-val {
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;

    display: flex;
    flex-direction: column;
  }

  &__temp-name {
    font-size: 8px;
    line-height: 8px;
    font-weight: 300;
  }

  &__details {
    height: 200px;
  }
}