@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.day {
  padding: 2px;

  border-right: 1px solid #fff;

  &:last-child {
    border-right: none;
  }

  border-bottom: 1px solid #fff;

  &--active {
    border-bottom: none;
  }

  &__name {
    margin-bottom: 3px;

    @include uppercaseSmall;
  }

  &__date {
    @include uppercaseBoldSmall;
  }

  &__temp {
    display: flex;
    justify-content: space-between;
  }

  &__temp-val {
    display: flex;

    @include normalSmall;
  }

  &__temp-arrow {
    transform: translateX(2px);
  }

  &__temp-name {
    font-size: 8px;
    line-height: 8px;
    font-weight: 300;
  }

  &__details {
    height: 200px;
  }
}
