@import '../../styles/utils/variables';

.set {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px;
  z-index: 3;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-bottom-left-radius: $defoultBorderRadius;
  border-top-left-radius: $defoultBorderRadius;

  transition: background-color $defoultTransitionDuration;

  &--cross {
  }

  &__location {
    font-size: 33px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}